<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inventário</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <nav class="navbar bg-light bg-gradient">
        <div class="container">
            <a href="" class="navbar-brand">
                <img src="imgs/logo.png" alt="Logo Sâo Judas" width="200" />
            </a>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="./" class="nav-link active link-success" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link link-success">Inventário</a>
                </li>
                <!-- Darkmode Button -->
                <div class="form-check form-switch ms-auto mt-2">
                    <label class="form-check-label" for="lightSwitch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-brightness-high" viewBox="0 0 16 16">
                            <path
                                d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                        </svg>
                    </label>
                    <input class="form-check-input" type="checkbox" id="lightSwitch" />
                </div>
                <!-- /Darkmode Button-->
            </ul>
        </div>
    </nav>
    <section class="container">
        <h1 class="display-2 text-center">Inventário</h1>
        <p class="lead text-center">Cadastro de equipamento</p>
        <form class="row g-3 needs-validation" method="post" action="/add" novalidate>
            <div class="row g-4 align-items-center mb-3">
                <div class="col-12 text-center row mt-4 justify-content-center">
                    <label for="input-unidade" id="inputUnidade" class="col-form-label">Unidade</label>
                    <div class="col-6">
                        <select required name="input-unidade" id="input-unidade" class="form-select">
                            <option selected>Selecione a unidade...</option>
                            <option value="Piancó">Piancó</option>
                            <option value="Orfanato">Orfanato</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="input-patrimonio" class="form-label">Patrimônio</label>
                <% if ('input-patrimonio' !=='Piancó' || 'input-patrimonio' !=='Orfanato' ) { %>
                    <div class="invalid-feedback">
                        Por favor, selecione uma unidade
                    </div>
                    <% } %>
                        <input type="number" name="input-patrimonio" id="input-patrimonio" class="form-control"
                            placeholder="Patrimônio" required>

            </div>
            <div class="col-md-6">
                <label for="input-descricao" class="form-label">Descrição</label>
                <input type="text" name="input-descricao" id="input-descricao" class="form-control"
                    placeholder="Descrição" required>
                <div class="invalid-feedback">
                    Por favor, digite um valor
                </div>
            </div>
            <div class="col-md-12">
                <label for="input-usuario" class="form-label">Usuário</label>
                <input type="text" name="input-usuario" id="input-usuario" class="form-control"
                    placeholder="Nome do usuário" required>
                <div class="invalid-feedback">
                    Por favor, digite um valor
                </div>
            </div>
            <div class="col-md-12">
                <label for="input-modelo" class="form-label">Modelo</label>
                <input type="text" name="input-modelo" id="input-modelo" class="form-control"
                    placeholder="Modelo do equipamento" required>
                <div class="invalid-feedback">
                    Por favor, digite um valor
                </div>
            </div>
            <div class="col-md-6">
                <label for="input-departamento" class="form-label">Departamento</label>
                <input type="text" name="input-departamento" id="input-departamento" class="form-control"
                    placeholder="Departamento" required>
                <div class="invalid-feedback">
                    Por favor, digite um valor
                </div>
            </div>
            <div class="col-md-3">
                <label for="input-valor-compra" class="form-label">Valor da compra</label>
                <input type="text" name="input-valor-compra" id="input-valor-compra" class="form-control"
                    placeholder="R$" required>
                <div class="invalid-feedback">
                    Por favor, digite um valor
                </div>
            </div>
            <div class="col-md-3">
                <label for="input-serie" class="form-label">Nº de série</label>
                <input type="number" name="input-serie" id="input-serie" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, digite um valor
                </div>
                <div class=""></div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    Adicionar
                </button>
            </div>
        </form>
    </section>

    <section class="container-fluid mt-5">
        <div class="container mb-5 col-md-4 d-flex">
            <input type="text" name="input-filter" id="input-filter" class="form-control">
            <a href="/" class="btn btn-info ms-3" id="filter-btn">Pesquisar</a>
        </div>
        <table class="table table-hover table-striped table-light" id="table">
            <thead>
                <th scope="col">Patrimônio</th>
                <th scope="col">Unidade</th>
                <th scope="col">Descrição</th>
                <th scope="col">Usuário</th>
                <th scope="col">Modelo</th>
                <th scope="col">Departamento</th>
                <th scope="col">Valor da Compra</th>
                <th scope="col">Nº de série</th>
                <th scope="col">Ações</th>
            </thead>
            <tbody class="table-group-divider">
                <% for(element of listagem) { %>
                    <tr>
                        <th>
                            <%= element.patrimonio %>
                        </th>
                        <th>
                            <%= element.unidade %>
                        </th>
                        <th>
                            <%= element.descricao %>
                        </th>
                        <th>
                            <%= element.usuario %>
                        </th>
                        <th>
                            <%= element.modelo %>
                        </th>
                        <th>
                            <%= element.localizacao %>
                        </th>
                        <th>
                            R$ <%= element.valorestim %>
                        </th>
                        <th>
                            <%= element.nserie %>
                        </th>
                        <th><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                data-bs-target="#editModal">
                                Editar
                            </button>
                            <a href="/delete/<%= element.patrimonio %>"
                                class="deletar btn btn-sm btn-danger">Excluir</a>
                        </th>
                    </tr>
                    <% }; %>
            </tbody>
        </table>
        </div>
        <footer class="container-fluid mt-5 text-center">

        </footer>

        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editar-equipamento">Editar equipamento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="row g-3 needs-validation" novalidate>
                            <div class="row g-4 align-items-center mb-3">
                                <div class="col-12 text-center row mt-4 justify-content-center">
                                    <label for="input-unidade" id="inputUnidade" class="col-form-label">Unidade</label>
                                    <div class="col-6">
                                        <select name="input-unidade" id="input-unidade" class="form-select">
                                            <option selected>Selecione a unidade</option>
                                            <option value="pianco">Piancó</option>
                                            <option value="orfanato">Orfanato</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="input-patrimonio" class="form-label text-center">Patrimônio</label>
                                <input type="number" name="input-patrimonio" id="input-patrimonio" class="form-control"
                                    placeholder="Patrimônio" />
                            </div>
                            <div class="col-md-6">
                                <label for="input-descricao" class="form-label">Descrição</label>
                                <input type="text" name="input-descricao" id="input-descricao" class="form-control"
                                    placeholder="Descrição" />
                            </div>
                            <div class="col-md-12">
                                <label for="input-usuario" class="form-label">Usuário</label>
                                <input type="text" name="input-usuario" id="input-usuario" class="form-control"
                                    placeholder="Nome do usuário" />
                            </div>
                            <div class="col-md-12">
                                <label for="input-modelo" class="form-label">Modelo</label>
                                <input type="text" name="input-modelo" id="input-modelo" class="form-control"
                                    placeholder="Modelo do equipamento" />
                            </div>
                            <div class="col-md-6">
                                <label for="input-departamento" class="form-label">Departamento</label>
                                <input type="text" name="input-departamento" id="input-departamento"
                                    class="form-control" placeholder="Departamento" />
                            </div>
                            <div class="col-md-6">
                                <label for="input-valor-compra" class="form-label">Valor da compra</label>
                                <input type="number" name="input-valor-compra" id="modal-valor-compra"
                                    class="form-control" placeholder="R$" />
                                <% %>
                            </div>
                            <div class="col-md-12">
                                <label for="input-serie" class="form-label">Nº de série</label>
                                <input type="number" name="input-serie" id="input-serie" class="form-control" />
                                <div class=""></div>
                            </div>
                            <div class="col-12">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <a href='#' class="btn btn-primary">Editar</a>
                            </div>
                    </div>
                </div>
            </div>


            <script src="js/bootstrap.bundle.js"></script>
            <script src="js/scripts.js"></script>
            <script src="js/switch.js"></script>
            <script>

                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    const forms = document.querySelectorAll('.needs-validation')

                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })()
            </script>
</body>

</html>